*{
  font-family: 'Nunito';
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table{
  margin-left: auto;
  margin-right: auto;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px;
  width: 55px;
}
.header__Icon{
  color:white;
}
footer { 
  color: rgb(18, 80, 118);
  font-size: smaller;
  margin-top: 20%;
}
span.label {
  color: blue;
}
.image{
  height:auto;
  width:70%;
  margin :2rem;
}
.home-body{
  display: grid;
  grid-row: 1/2;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem;
  flex-wrap: wrap;
  
}
.home-body p{
  padding:2rem;
}
.home-body h1{
  padding-left:2rem;
  color:blue;
}
@media (max-width: 600px) {
  .home-body{
    margin:2rem;
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1rem;
    flex-wrap: wrap; 
  }
  .image{
    margin:auto;
  }

  
  
}